* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {

    display: flex;
    flex-direction: column;


    background-color: #ccbd9e;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 50px;
}

header {
    background-color: #d8ccb2;
    position: justify;
    top: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: start;
    line-height: 50px;
    padding: 1cm;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    margin: auto;
}


body:p {
    font-size: 1em;
    color: #555;
    text-align: center;
    margin: 10px;
}




.TextContainer {
    width: auto;
    height: auto;
    background-color: #d8ccb2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #333;
    text-align: center;
    padding: 20px;
}

.ContainerCards {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-color: #f9f4ef;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}



.Card {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 1cm;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease;
}


.CardSelected {

    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 1cm;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transform: scale(1.05);
    transition: transform 0.3s ease;

}


.Card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: 0.4 ease-in-out;

}


.Card img {
    width: 100%;
    height: 200px;
    object-fit: justify;
    border-radius: 10px;
    object-fit: contain;
    border: #333 solid 1px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;


}


.Card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    align-items: center;
    display: flex;

}


.Card button:hover {
    background-color: #45a049;

}

.Card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}



.Card h2 {
    font-size: 1.5em;
    margin: 10px 20px;
    text-align: center;
}


.HouseContainer {
    position: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.HouseContainer h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.HouseContainer a {
    text-decoration: none;
}